html
    head 
        title= title 
    body 
        h1= message
        nav
            li
                a(href='/') Home
            li
                a(href='/about') About
            li
                a(href='/blog') Blog
            li
                a(href='/portfolio') Portfolio
            li
                a(href='/contact') Contact

        h2= user.name
        h2= user.age
        h2= user.mail